# TD 1

### 2. Utilisation du notebook python

In [ ]:
#1
1+1

In [ ]:
#3
a=1+1

In [ ]:
#4
a

In [ ]:
#5
print(a)

In [ ]:
#6
a+=1

In [12]:
print(a)

4

In [1]:
#13
a=5
b=2
print(a, b)

5 2

In [2]:
#15
a,b = b,a
print(a,b)

2 5

In [3]:
#16
print("a vaut", a, "et b vaut", b)

a vaut 2 et b vaut 5

In [4]:
#17
a="hello world"
print(a)

hello world

In [6]:
#18
a

'hello world'

### 3. Types de données

In [14]:
#1
print(type(5), type(5.0), type("5"), type(-5), type(5/2), type(5//2), type(5 == 2))

<class 'int'> <class 'float'> <class 'str'> <class 'int'> <class 'float'> <class 'int'> <class 'bool'>

In [16]:
#2
print(type((5,2)), type([5,2]), type({5,2}))

<class 'tuple'> <class 'list'> <class 'set'>

In [18]:
#3
x = 3.2
if type(x) == int :
    print(type(x))

### 3.1 Type de numérique entier
1. Affectez une valeur entière à une variable v.

In [19]:
#1
v=149

In [20]:
#2
print(v,"=", v//11, "x",11, "+", v%11)

149 = 13 x 11 + 6

In [23]:
#3
print(3*(10/3))
print(3*(10//3))
print((3*10)//3)

10.0
10
10

In [27]:
#6
entier = 45
if entier%2==0:
    print(True)
else:
    print(False)

False

In [28]:
#7
print(2**256)

115792089237316195423570985008687907853269984665640564039457584007913129639936

In [33]:
#???

### 3.2 Nb flottants

In [35]:
#1
a = 0.2 + 0.4
if a<0.6:
    print("inférieure")
elif a==0.6:
    print("égale")
else:
    print("supérieur")

supérieur

In [39]:
x=0.1
x=int(x*2**30)
print(x/2**30)

0.09999999962747097

### 3.3 Chaînes de caractères

In [41]:
#1
a="hello"
b="world"
print(a+b)
print(b+a)

helloworld
worldhello

In [42]:
#3
print(a*3, b*3)

hellohellohello worldworldworld

In [43]:
#4
a.upper()

'HELLO'

In [44]:
#5
a

'hello'

In [45]:
#6
a>b

False

### 3.4 Conversions

In [47]:
#1
a="32"
a=int(a*2)
print(a)

3232

In [49]:
#2
a=int(a)
print(a*2)

6464

In [50]:
#3
s=input("a")
print(s)

abc

In [52]:
#4
s=int(input("nb"))
print(s*2)

86

In [53]:
s=input("votre âge")
print("vous avez " +str(int(s))+" ans en 2022")

vous avez19ans en 2022